.gradle/
*.iml
*.ipr
*.iws
build/
artifactory/
local-store/artifactory.lic
local-store/artifactory-pro.zip
src/test/groovy/*.groovy
src/test/groovy/*/
etc/plugins/*.groovy
etc/plugins/*.properties
etc/plugins/*.json
